.gradient-border {
    border-style: solid;
    border-width: 5px;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }
  .text-container{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      flex-direction: column;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
.text-container h1 {
    color: #edd8ca;
    font-size: 3rem;
}
.text-container h2{
    color: #d367c1;
    font-size: 2.5rem;
}

.file-input{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  
}
select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
}

label {
  padding: 16px 48px;
  border: 3px solid #ffc872;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ffc872;
}

label:hover {
  transform: scale(1.04);
}

label.active {
  background-color: #ffc872;
  color: #242424;
}

label span {
  font-weight: normal;
}


.btn-submit {
  cursor: pointer;
  margin: 15px;
  padding: .8rem;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  background: #fc466b;
  border: solid transparent;
  border-radius: 15px;
}

.btn-submit:hover,
.btn-submit:focus{
    background-color: #00bbcb;
}